<div id="footerContainer">
  <div id="leftSection">
    <a href="https://www.linkedin.com/in/skydeng" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/skydonline" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <div id="centerSection">
    <p id="copyright">© 2025 Sky Deng</p>
  </div>
  <div id="rightSection">
    <a href="https://www.instagram.com/sky.deng_" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.skydeng.com" target="_blank">
      <i class="fas fa-link"></i>
    </a>
  </div>
</div>
