<div id="footerContainer">
  <div id="leftSection">
    <a href="https://www.linkedin.com/in/skydeng" target="_blank">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a href="https://github.com/skydonline" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </div>
  <div id="centerSection">
    <p id="copyright">© 2025 Sky Deng</p>
  </div>
  <div id="rightSection">
    <a href="https://www.instagram.com/sky.deng_" target="_blank">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a href="https://www.skydeng.com" target="_blank">
      <fa-icon [icon]="faLink"></fa-icon>
    </a>
  </div>
</div>
