#navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primary-container-color);
}

#logo {
  height: 40px;
  width: 40px;
  margin: 0 10px;
}

#title {
  font-size: var(--font-size-title);
  margin-left: 10px;
}

#sections {
  width: 270px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 20px;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}
