#navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primary-container-color);
}

#title {
  font-size: var(--font-size-title);
}

#sections {
  width: 235px;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 15px;
}
