.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--secondary-container-color);
  width: 170px;
  height: 40px;
  border-radius: var(--border-radius-small);
  position: relative;
}

.toggle-text {
  color: var(--secondary-text-color);
  font-size: var(--font-size-medium);
  position: absolute;
  left: 10px;
}

.toggle-switch {
  width: 51px;
  height: 31px;
  background-color: var(--toggle-switch-off-background);
  border-radius: 25px;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s;
  right: 10px;
}

.toggle-switch.checked {
  background-color: var(--toggle-switch-on-background);
}

.toggle-switch .toggle-knob {
  width: 27px;
  height: 27px;
  background-color: var(--toggle-switch-knob);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 1px;
  transition: left 0.3s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 3px 1px rgba(0, 0, 0, 0.06);
}

.toggle-switch.checked .toggle-knob {
  left: 23px;
}
