<div id="github-component">
  <app-heading text="GitHub"></app-heading>
  <div>
    <app-textfield
      placeholder="GitHub Token"
      [(model)]="githubToken"
    ></app-textfield>
    <button id="github-connect" class="remove-junk" (click)="connectToGithub()">
      Connect
    </button>
  </div>
  <div *ngIf="repositories.length > 0">
    <app-heading text="Select Repository"></app-heading>
    <select id="selectedRepo" class="remove-junk" [(ngModel)]="selectedRepo">
      <option
        class="remove-junk"
        *ngFor="let repo of repositories"
        [value]="repo.name"
      >
        {{ repo.name }}
      </option>
    </select>
    <app-toggle text="Auto-commit"></app-toggle>
  </div>
</div>
