#github-component {
  margin: 0 15px;
}

#github-username {
  width: 230px;
  height: var(--component-height);
  border-radius: var(--border-radius-small);
}

#github-username:focus {
  color: var(--primary-text-color);
}

#github-connect {
  margin-left: 15px;
  width: 80px;
  height: var(--component-height-small);
  border-radius: var(--border-radius-small);
}

#github-connect:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}
