:root {
  --primary-text-color: #ffffff;
  --primary-container-color: #333333;
  --secondary-text-color: #a9a9a9;
  --secondary-container-color: #313131;
  --inactive-text-color: #797979;
  --border-color: #464646;
  --header-color: #282828;
  --orange-accent-color: #ffa115;
  --blue-accent-color: #0b83fe;
  --green-accent-color: #45cd75;
  --background-color: #1e1e1e;
  --font-size-title: 22px;
  --font-size-large: 16px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
  --font-size-tiny: 10px;

  --toggle-switch-knob: #fff;
  --toggle-switch-on-background: #4caf50;
  --toggle-switch-off-background: grey;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  width: 400px;
  height: 600px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-weight: 500;
}

a {
  text-decoration: none;
}
